<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%include indice.ejs %>
	<div id="conteudo">
		 <h1 class="text-center title-1"> Lista de Eventos </h1>
		 <ul>
		 <% listaEventos.forEach(function(evento){ %>
		 <li><%= evento.title %>&nbsp;<%= evento.dataHoraUTC.toLocaleDateString('pt-BR', { weekday: 'long', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', timeZone: 'America/Sao_Paulo'}) %>
		 <% if(evento.isDestaque){%>
			<a href="removeDestaque/<%= evento.id%>" target="_self">Remover destaque</a>
		 <%} else {%>
			<a href="addDestaque/<%= evento.id%>" target="_self">Tornar destaque</a>
		  <%}%>
		 <a href="editEvento/<%= evento.id%>" target="_self">Editar</a>
		 </li> 
		 <%})%>
		 </ul>
	</div>
</body>
</html>