<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%include indice.ejs %>
	<div id="conteudo">
		<h1><%= title %></h1>
		<div style="float:left">
		<% if(evento._id){ %>
			<form action="/editEvento/<%=evento._id%>" method="post">
		<% } else { %>
			<form action="/addEvento" method="post">
		<% } %>
			<p>Nome:<input type="text" name="nome" value="<%= evento.titulo %>"/></p>
			<p>Canal:
				<select id="canal" name="canal" >
				<% listaCanais.forEach(function(canal){ %>
					<option value="<%=JSON.stringify(canal) %>" 
					<% if(evento.canais.length > 0 && canal._id == evento.canais[0]._id.toString()) { %>
						selected="selected"
					<% } %>
					> <%= canal.nome %> </option>
				<%})%>
				</select>
			</p>
			<p>Destaque
				<input type="checkbox" id="destaque" name="destaque" 
				<% if(evento.isDestaque) { %>
					checked
				<% } %>
				></input>
			</p>
			<p>Categoria:
				<select id="categoria" name="categoria" onchange="changeCat()">
				<% listaCategorias.forEach(function(categoria){ %>
					<option value="<%=JSON.stringify(categoria) %>"
						<% if(evento.categorias.length > 0 && categoria._id == evento.categorias[0]._id.toString()) { %>
						selected="selected"
						<% } %>
					> <%= categoria.nome %> </option>
				<%})%>
				</select>
			</p>
			<p>Subcategoria:
				<select id="subcategoria" name="subcategoria" onchange="changeSub()">
				</select>
			</p>
			<p>Data/Hora:<input type="datetime-local" name="datetime" value="<%= evento.dataHora ? evento.dataHora.toLocaleDateString(undefined, {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'}).replace(' ','T') : undefined %>"/></p>
			<p>Video ID:<input type="text" name="videoId" id="videoId" onchange="videoIdLostFocus()" value="<%= evento.videoId %>" /></p>
			<p>Thumb:<input type="text" name="largeImage" id="largeImage" onchange="loadImage()" value="<%= evento.largeimage %>"/></p>
			<p>URL:<input type="text" name="url" id="url" value="<%= evento.url %>"/></p>
			<p><input type="submit" value="Salvar" /></p>
		</form>
		</div>
		<div style="float:right">
			<img src="<%= evento.largeimage %>" id="thumb" width="300">
		</div>
	</div>
	 <script type='text/javascript'>
	 
	var listaSubCategorias = <%-JSON.stringify(listaSubCategorias)%>;
	var listaCategorias = <%-JSON.stringify(listaCategorias)%>;
	var subcategoria = <%-evento.subcategorias.length > 0 ? JSON.stringify(evento.subcategorias[0]) : "undefined"%>;
	
	function changeCat() {
		var selected = JSON.parse(document.getElementById("categoria").value);
		var elementCat = document.getElementById("subcategoria");
		var length = elementCat.options.length;
		for(var i = 0; i<length; i++){
			elementCat.options.remove(0);
		}
		listaSubCategorias.forEach(function(sub){
			if(sub.categoria._id === selected._id){
				var c = document.createElement("option");
				c.text = sub.nome;
				c.value = JSON.stringify(sub);
				if(subcategoria && sub._id === subcategoria._id){
					c.selected = "selected";
				}
				elementCat.options.add(c);
			}
		});
	}
	
	function loadImage(){
		var urlImage = document.getElementById("largeImage").value;
		document.getElementById("thumb").src = urlImage;
	}
	
	function videoIdLostFocus(){
		var videoId = document.getElementById("videoId").value;
		if(videoId !== ""){
			document.getElementById("largeImage").value = "https://i.ytimg.com/vi/" + videoId + "/maxresdefault_live.jpg";
			document.getElementById("url").value = "https://www.youtube.com/watch?v=" + videoId;
			loadImage();
		}
	}
	
	function changeSub(){
		var selected = JSON.parse(document.getElementById("subcategoria").value);
		console.log("Mudou sub", selected)
	}
	
	(function(){
			
		document.getElementById("categoria").options.remove(0);
		var catDestaque = listaCategorias[0];
		document.getElementById("destaque").value = JSON.stringify(catDestaque);
		changeCat();
		
	})();
	
  </script>
</body>
</html>